ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  color: #113f67;
}

footer {
  text-align: center;
  display: block;
  margin: 150px auto;
  padding: 10px;
  max-width: 600px;
  background: rgb(238, 230, 242);
  border-radius: 10px;
  font-size: small;
}

.wrapper {
  margin: 30px auto;
  max-width: 800px;
}

.weather-app {
  display: block;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  font-family: "Lato", sans-serif;
}

#current-location-button {
  transition: all 0.2s ease-in-out;
  background: #113f67;
}

#current-location-button:hover {
  background: #dfebed;
}

.form-component {
  margin-bottom: 20px;
}

.weather-temperature {
  margin: 20px 0;
}

.current-temperature {
  font-size: 26px;
  position: relative;
  top: -11px;
}

.weather-data {
  margin-top: 5px;
}

#current-city {
  font-size: 40px;
  font-weight: 400;
}

#current-time,
#humidity,
#wind,
.humidity-wind,
.temperature-range {
  font-size: 18px;
}

#weather-description {
  font-size: 22px;
  text-transform: capitalize;
}

.week-day {
  font-size: 20px;
}

.weather-image {
  font-size: 24px;
}

.temperature-range {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
}

.min-temp {
  color: #455d80;
  font-weight: 500;
}

.fa-location-dot {
  color: #ec7520;
}
